<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\ContactList\NLOG\internallog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="C:\ContactList\NLOG\nlog-all-${cached:cached=true:Inner=${date:format=yyyy-MM-dd hh.mm.ss}:CacheKey=${shortdate}}.log"
            layout="--- ${uppercase:${level}} (${longdate}) ---${newline}
            Call Site: ${callsite}${newline}${newline}
            All Event Properties: ${all-event-properties:includeCallerInformation=true:separator=|}${newline}
            Exception Tpye: ${exception:format=Type}${newline}
            Exception Message: ${exception:format=Message}${newline}
            Exception Stack Trace: ${exception:format=StackTrace}${newline}
            Message: ${message}${newline}
            Event Id: ${event-properties:item=EventId_Id}${newline}
            Logger: ${logger}${newline}
            Application base path: ${aspnet-appbasepath}${newline}
            Environment name: ${aspnet-environment}${newline}
            HttpContext: ${aspnet-item} ${newline}
            MVC action name: ${aspnet-mvc-action}${newline}
            MVC controller name: ${aspnet-mvc-controller}${newline}
            Request variable: ${aspnet-request}${newline}
            Content-Type header: ${aspnet-request-contenttype}${newline}
            Request cookie content: ${aspnet-request-cookie}${newline}
            Request form content: ${aspnet-request-form}${newline}
            Request host: ${aspnet-request-host}${newline}
            Client IP: ${aspnet-request-ip}${newline}
            Request method: ${aspnet-request-method}${newline}
            Posted body: ${aspnet-request-posted-body}${newline}
            Request querystring: ${aspnet-request-querystring}${newline}
            Request referrer: ${aspnet-request-referrer}${newline}
            Request URL: ${aspnet-request-url}${newline}
            Request useragent: ${aspnet-request-useragent}${newline}
            Trace identifier: ${aspnet-traceidentifier}${newline}
            CorrelationId: ${aspnet-item:variable=CorrelationId}${newline}
            User auth: ${aspnet-user-authtype}${newline}
            User variable: ${aspnet-user-identity}${newline}
            User authenticated: ${aspnet-user-isauthenticated}${newline}
            Web root path: ${aspnet-webrootpath}${newline}
            IIS site name:${iis-site-name}${newline}"/>

    <target name="database" xsi:type="Database" keepConnection="true" dbProvider="Npgsql.NpgsqlConnection, Npgsql" connectionString="${configsetting:name=ConnectionStrings.NLogConnection}">

      <commandText>
        INSERT INTO public."Log" ("MachineName", "SiteName", "Level", "Message", "Logger", "CallSite", "Exception", "StackTrace", "ErrorMessage", "URL", "RequestMethod", "RequestUserAgent", "TraceIdentifier", "CorrelationId", "ServerAddress", "RemoteAddress", "DateCreated")
        VALUES (@MachineName, @SiteName, @Level, @Message, @Logger, @CallSite, @Exception, @StackTrace, @ErrorMessage, @URL, @RequestMethod, @RequestUserAgent, @TraceIdentifier, @CorrelationId, @ServerAddress, @RemoteAddress, CAST(@DateCreated AS timestamp without time zone))
      </commandText>

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@SiteName" layout="${iis-site-name}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@CallSite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <parameter name="@ErrorMessage" layout="${exception:format=ToString}" />
      <parameter name="@URL" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true}" />
      <parameter name="@RequestMethod" layout="${aspnet-request-method}" />
      <parameter name="@RequestUserAgent" layout="${substring:inner=${aspnet-request-useragent}:length=300:start=0}" />
      <parameter name="@TraceIdentifier" layout="${aspnet-traceidentifier}" />
      <parameter name="@CorrelationId" layout="${aspnet-item:variable=CorrelationId}" />
      <parameter name="@ServerAddress" layout="${aspnet-request-url}" />
      <parameter name="@RemoteAddress" layout="${aspnet-request-ip}" />
      <parameter name="@DateCreated" layout="${date}" />

    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="allfile" />

    <logger name="*" minlevel="Info" writeTo="database" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Trace" final="true" />

  </rules>
</nlog>